<template>
  <div>
    <h1 class="red">Look at devtools!</h1>
    <p class="tools">Network -> Elements </p>
  </div> 
</template>

<script>
    export default {
        name: 'example',
        //OgMeta with Nuxt Context
         /*ogMeta: (context) => ({
        'og:url': `${context.params.slug='mySlug'}`,
        }),*/
    }
</script>

<style>
  .red {
    width: 50%;
    margin: 40px auto;
    color: #3b8070;
    text-align: center;
    border: solid 1px rgb(189, 189, 189);
    border-radius:3px;
    padding:1em;
  }
  .tools {
    text-align: center;
  }

</style>
