<template>
  <div class="container">
    <div>
      <Logo />
      <h1 class="title">
        example-ogmeta
      </h1>
      <div class="links">
        <a
          href="https://gitlab.com/qonfucius/nuxt-opengraph-meta"
          target="_blank"
          rel="noopener noreferrer"
          class="button--green"
        >
          Documentation
        </a>
        <a
          href="https://qonfucius.com/fr"
          target="_blank"
          rel="noopener noreferrer"
          class="button--grey"
        >
          Qonfucius
        </a>
      </div>
    </div>
  </div>
</template>

<script>
  export default {  
    name: 'MyPage',
    //add manually Open Graph meta
    head() {
      return {
        meta: [
          {
            hid: 'property:og:video',
            property: 'og:video',
            content:'A cat video',
          }
      ]
    }},
    // add automatically Open Graph meta
    ogMeta: {
        'og:description' : 'A beautiful description of your page',
    },
  }
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
